{% extends 'admin/layout.html.twig' %}

{% block title %}
	Personnages
	{{parent()}}
{% endblock %}

{% block content %}

	<section class="text-center container">
		<div class="row">
			<div class="col-lg-6 col-md-8 mx-auto">
				<h1 class="fw-light">
					Personnages
					<small class="fs-5">
						<a href="{{ path('admin_character_add') }}">Nouveau personnage</a>
					</small>
				</h1>
			</div>
		</div>
	</section>

	<div class="container">
		<table class="table table-hover">
			<thead>
				<tr>
					<td>#</td>
					<td>Prénom</td>
					<td>Image</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</thead>
			<tbody>
				{% for character in characters %}
					<tr>
						<td>{{character.id}}</td>
						<td>{{character.firstname}}</td>
						<td>
							<img src="{{ asset('uploads/images/' ~ character.pictureFilename) }}" alt="" width="60">
						</td>
						<td>
							<a href="{{ path('admin_character_show', {id:character.id}) }}" class="btn btn-sm btn-outline-secondary">Voir</a>
						</td>
						<td>
							<a href="{{ path('admin_character_edit', {id:character.id}) }}" class="btn btn-sm btn-outline-secondary">Editer</a>
						</td>
						<td>
							<a href="{{ path('admin_character_delete', {id:character.id, token:csrf_token('delete-item')}) }}" class="btn btn-sm btn-outline-secondary">Supprimer</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
